body {
  font-family: arial, sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

#header {
  width: 100%;
  background-color: #3B5998;
}

#subheader {
  padding: 5px;
  width: 800px;
  margin: auto;
  color: white;
}

#subheader h1 {
  font-size: 16px;
  font-weight: bold;
  float: left;
  margin: 5px;
}

#subheader ul {
  text-align: right;
  font-weight: bold;
  margin: 5px;
}

#subheader li {
  display: inline;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}

#subheader li:hover {
  text-decoration: underline;
}

#maindiv {
  margin: auto;
  width: 800px;
}

#userdiv {
  margin: 5px;
  padding: 5px;
  height: 85px;
}

#userpicdiv {
  float: left;
  margin: 5px 15px 5px 5px;
}

#usersubdiv {
  float: left;
}

#usersubdiv h2 {
  padding: 2px;
  margin: 2px;
  font-size: 24px;
  font-weight: bold;
}

#usersubdiv h2 span {
  font-weight: normal;
  color: #999999;
}

#usersubdiv span {
  padding: 2px;
  margin: 2px;
  font-weight: normal;
  color: #999999;
}

#usersubdiv p {
  padding: 2px;
  margin: 2px;
  color: #3B5998;
}

#inputdiv {
  margin: auto;
  width: 80%;
  font-size: 12px;
}

#inputdiv input {
  margin: 10px 0px 10px 0px;
  padding: 5px;
  border: 1px dashed #CCCCCC;
  width: 100%;
}

#inputdiv button {
  margin: 0px 0px 20px 0px;
}

#maindiv {
  color: #666666;
}

#maindiv table {
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: #333333;
}

#maindiv td {
  border-bottom: 1px solid #CCCCCC;
  padding: 10px 5px 10px 5px;
  vertical-align: top;
}

#inputdiv {
  margin: auto;
  width: 80%;
}

#inputdiv .input {
  margin: 10px 0px 10px 0px;
  padding: 5px;
  border: 1px dashed #CCCCCC;
  width: 98%;
  font-size: 18px;
  height: 20px;
}

#navdiv {
  margin: 0 5px 5px 5px;
  padding: 5px 0px 5px 5px;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
}

#navdiv ul {
  margin: 0;
  padding: 0;
}

#navdiv li {
  display: inline;
  font-size: 12px;
  font-weight: normal;
  color: #3B5998;
  padding: 0px 20px 5px 0px;
}

#navdiv label {
  padding: 0 0 5px 5px;
  margin: 0 0 5px 0;
}

#navdiv input {
  margin: 0 0 0 0;
  padding: 5px 0 0 0;
}

.name {
  font-size: 16px;
  font-weight: bold;
  color: #3B5998;
  margin: 0px 0px 5px 0px;
}

.name_b {
  font-size: 16px;
  font-weight: normal;
  color: #999999;
  margin: 0px 0px 5px 0px;
}

.name_c {
  font-size: 16px;
  font-weight: normal;
  color: #CC9999;
  margin: 0px 0px 5px 0px;
}

.name_d {
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  margin: 0px 0px 5px 0px;
}

.info {
  font-size: 11px;
  margin: 0px 0px 2px 0px;
  color: #999999;
}

img {
  padding: 2px;
  border: 1px solid #CCCCCC;
}

.opts {
  margin: 2px;
  padding: 0px;
  color: #3B5998;
  font-size: 14px;
  cursor: pointer;
}

.opts:hover {
  text-decoration: underline;
}

.inbold {
  font-weight : bold;
}

